<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>

This will be populated with the complete list of Modules with tags and categories.
</body>	
<% include ../layouts/footer.ejs %>