<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>
<div class="container">
<center>
			<h1>Helper Modules</h1>
			<h2>These help you build useful & awesome modules.</h2>
</center>
<br/>
<br/>

<h4><a href ="/helper/headers" target="_blank">Headers</a> - Returns a JSON array of Request Headers</h4>

</div>

<% include ../layouts/footer.ejs %>
