<!DOCTYPE html>
<html lang="en">
  <head>
 	<script src="/public/js/jquery.js"></script>
   <script src="/public/js/bootstrap.js"></script>
   <script src="/dynamic/js/modulesList.js"> </script>
   <script>
   $(document).ready(function(){
     for(x in topModules){
       console.log(x);
       var li = document.createElement('li');
       var a = document.createElement('a');;
       a.href = '/modules?id='+topModules[x].id;
       a.innerHTML = topModules[x].name;
       li.appendChild(a)
       document.getElementById('modulesListNode').appendChild(li);
     }
   });
   </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A framework for testing anything Document Object Model (DOM).">
    <meta name="author" content="Ahamed Nafeez">

    <title>Dom Storm</title>
	<link rel="shortcut icon" href="/public/imgs/dom-storm-logo.png" />
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <style>
	body {margin-top: 60px;}
    </style>
  </head>
  <body>
<a href="https://github.com/skepticfx/domstorm" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
