<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/app.js"></script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js">
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A dashboard for interesting DOM tricks/techniques.">

    <title> DomStorm
        <% if(typeof ds_title != 'undefined') {%>:
        <%= ds_title %>
        <%}%>
    </title>
    <link rel="shortcut icon" href="/public/imgs/dom-storm-logo.png" />
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/ds_style.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <style>
        body {
            margin-top: 0%;
        }
    </style>
</head>

<body>