<!DOCTYPE html>
<html lang="en">
  <head>
 	<script src="/public/js/jquery.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A framework for testing anything Document Object Model (DOM).">
    <meta name="author" content="Ahamed Nafeez">

    <title>Dom Storm</title>
	<link rel="shortcut icon" href="/public/imgs/dom-storm-logo.png" />
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <style>
	body {margin-top: 60px;}
    </style>
  </head>
  <body>
