<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/" id="navbar-title">Dom Storm</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
	  <ul class="nav navbar-nav">
		<li><a href="/modules/create"><img src="/public/imgs/icons/add_module.png"/>  Create Module</a></li>	
		
	  	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><img src="/public/imgs/icons/module.png"/> Modules <span class="caret"></span></a>
			<ul class="dropdown-menu" aria-labelledby="themes" id="modulesListNode">
			<li><a tabindex="-1" href="/modules/">All Modules</a></li>
			<li class="divider"></li>
			</ul>
		</li>
		
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><img src="/public/imgs/icons/bulb.png"/> Specs <span class="caret"></span></a>
			<ul class="dropdown-menu" aria-labelledby="themes" id="specsListNode">
			<li><a tabindex="-1" target="_blank" href="http://es5.github.io/">ECMAScript 5.1</a></li>
			<li><a tabindex="-1" target="_blank" href="http://www.w3.org/DOM/DOMTR">Document Object Model</a></li>
			<li><a tabindex="-1" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web">Mozilla Developer Network Docs</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" target="_blank" href="http://www.w3.org/TR/XMLHttpRequest/">XMLHttpRequest</a></li>			
			<li><a tabindex="-1" target="_blank" href="http://www.w3.org/TR/cors/">CORS</a></li>		
			<li><a tabindex="-1" target="_blank" href="http://www.w3.org/Protocols/rfc2616/rfc2616.html">HTTP/1.1 - RFC 2616</a></li>			
			<li><a tabindex="-1" target="_blank" href="https://code.google.com/p/browsersec/wiki/Main">Browser Security Handbook</a></li>			
			<li><a tabindex="-1" target="_blank" href="http://tools.ietf.org/search/rfc6265">HTTP State Management Mechanism</a></li>			
			</ul>
		</li>
		
		
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
