<% include layouts/header.ejs %>

<% include layouts/navbar.ejs %>

<% if(authError == 1){ %>
<div id="authError" class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Oh snap! Please </strong> <a href="/auth/twitter" class="alert-link">Sign In</a>  to continue.
</div>
<% } %>

    <div class="container">
	 <center><img src="/public/imgs/dom-storm-logo.png"><br/>
		<h3>A dashboard for interesting DOM tricks/techniques. </h4>
		<h4>One can know the answers for, </h4>
    </center>
    <br/>
    <div id="qs">
    <h5>
      <ul>
        <li>What are the different ways of accessing a <code>[Window Object]</code>, in a given browser?</li><br/>
        <li>What properties of the <code>postMessage</code> API can be overridden and changed?</li><br/>
        <li>Does <code>XMLHttpRequest</code> follow the Same-Origin-Policy on redirects?</li><br/>
        <li>Does a certain DOM security bug in Firefox be replicated in other browsers?</li><br/>
        <li>And many more interesting questions, where your imagination is the only limit !</li><br/>
      </ul>
    </h5>
  </div>
	  <div class="column">
        <div class="col-lg">
	  </div>
      </div>

    </div><!-- /.container -->


</body>
<% include layouts/footer.ejs %>
