<% include layouts/header.ejs %>

<% include layouts/navbar.ejs %>


    <div class="container">
		  <center><img src="/public/imgs/dom-storm-logo.png" alt="Dom Storm"/> <br/>
		<h3>A framework for testing anything Document Object Model (DOM). </h3>
		<h4>Use it to check, how browsers deviates from the original specifications. </h4>
      </center>
	  <div class="column">
        <div class="col-lg">      
	  </div>
      </div>

    </div><!-- /.container -->


</body>	
<% include layouts/footer.ejs %>