<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>

<br/>
<br/>
<br/>
<br/>
<br/>
<center>
	<div class="container">
				<img src="/public/imgs/icons/sad.png"/>
				<h1><b>404.</b> The page could not be found.</h1>
				<h3><%= info %> </h3>

	</div>
</center>


<% include ../layouts/footer.ejs %>
