<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>

<br/>
<br/>
<br/>
<br/>
<br/>
<center>
  <div class="container">
        <h1><b>Hold on !</b></h1>
        <h3><%= info %> </h3>

  </div>
</center>
<% include ../layouts/footer.ejs %>
